<div class="container">
    <form>
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" placeholder="Digite o nome do país"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Sigla</label>
            <input type="text" class="form-control" minlength="2" maxlength="2" placeholder="Digite a sigla do país"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Gentílico</label>
            <input type="text" class="form-control" placeholder="Ex:. Brasileiro, Argentino, Canadense..."/>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>
